body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
  font-family: 'Fjalla One', sans-serif;
	background-color: #e8e8e8;
}

header{
	font-weight: bold;
}
#title{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
}
#logo
{
	height: 62px;
	width:62px;
	border-radius: 10px;
	float:left;	
	margin-right: 10px;
}
#saw
{
	height: 400px;
	width: 1000px;
	float: center;
}
#main-header {
	height:80px;
}
#header-name {
	font-size: 30px;
	color: black;
	padding: 15px;
	margin: 8px 0px 0px 0px;
} 
#search{
	float: right;
	padding: 5px;
	margin: 10px 10px 0px 0px;
}
#midleft{
	float: left;
	height: 300px;
	width: 500px;
}
#midright{
	float: right;
	width: 500px;
	height: 300px;
	text-align: center;
}
#concrete{
  height: 300px;
  width: 500px;
  float: right;
}
#kbrepair{
  height: 300px;
  width: 500px;
  float: left;
  text-align: center;
}
}
}
.divheading
{
	text-align: center;
	font-size: 25;
}
.flat {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 15px;
  left: 37%;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    background-color: #212126;
  }
  .nav li {
    float: left;
    list-style: none;
  }
  .nav ul {
    overflow: auto;
    width: 360px;
    margin: 0 auto;
  }
  .form{
    width: 500px;
    position: relative;
    left: 300px;
    top: 20px;
  }
